body{

background-image:url("/home/sem6b10/Downloads/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg");
background-size:cover;
background-repeat:no-repeat;
background-attachment:fixed;
}
h1,h2,h3{
color:red;
margin-left:100px;
}
p.normal{
color:purple;
font-style:italic;
font-family:georgia,garamond,serif;
font-size:200%;
font-weight:500;
text-decoration:blink;
text-transform:lowercase;
text-transform:capitalize;
text-shadow:2px 6px 4px black;
}
p.warning{
color:green;
font-style:bold;
font-family:georgia,garamond,serif;
font-size:200%;
font-weight:bolder;
color:blue;
direction:rtl;
letter-spacing:10px;
word-spacing:10px;
text-indent:10cm;
text-decoration:underline;
text-decoration:overline;
text-decoration:line-through;
text-transform:capitalize;
}
img:hover{
border:0px;
border:3px ridge black;
height:50%;
opacity:0.4;
}
#id1{color:blue;}
.mycolour{color:green;}

p.one{border-style:solid;
border-width:5px;
border-color:red blue green yellow;
color:red ;}

p.two{border-top-style:dotted;
border-bottom-style:dotted;
border-right-style:solid;
border-left-style:solid;
border-width:5px;}
p.two{border-left:6px solid red;
background-color:lightgrey;}

p.two{
margin:25px 50px 75px 100px;}
div{width:300px;
margin:auto;
border:10px solid red;}


