body{

background-image:repeating-radial-gradient(red,yellow,blue,green);
background-size:cover;
background-repeat:no-repeat;
background-attachment:fixed;
}
h1,h2,h3{
color:red;
margin-left:100px;
}
p.normal{
color:purple;
font-style:italic;
font-family:georgia,garamond,serif;
font-size:200%;
font-weight:500;
text-decoration:blink;
text-transform:lowercase;
text-transform:capitalize;
text-shadow:2px 6px 4px black;
}
p.warning{
color:green;
font-style:bold;
font-family:georgia,garamond,serif;
font-size:200%;
font-weight:bolder;
color:blue;
direction:rtl;
letter-spacing:10px;
word-spacing:10px;
text-indent:10cm;
text-decoration:underline;
text-decoration:overline;
text-decoration:line-through;
text-transform:capitalize;
}
img:hover{
border:0px;
border:3px ridge black;
height:50%;
opacity:0.4;
}
#id1{color:blue;}
.mycolour{color:green;}

p.one{border-style:solid;
border-width:5px;
border-color:red blue green yellow;
color:red ;}

p.two{border-top-style:dotted;
border-bottom-style:dotted;
border-right-style:solid;
border-left-style:solid;
border-width:5px;}
p.two{border-left:6px solid red;
background-color:lightgrey;}

p.three{
margin:25px 50px 75px 100px;}
h{width:300px;
margin:auto;
border:10px solid red;
padding:25px 50px 75px 100px;}

p.name{
}
div{
margin:2cm;
border:2px solid black;

padding:5px 5px 5px 5px;}

li{display:inline;}
li{display:block;}

span.a{
display:inline;
width:100px;
height:100px;
padding:5px;
border:1px solid blue;
background-color:yellow;}

span.b{
display:inline-block;
width:100px;
height:100px;
padding:5px;
border:1px solid blue;
background-color:yellow;}

span.c{
display:block;
width:100px;
height:100px;
padding:5px;
border:1px solid blue;
background-color:yellow;}

a.o{
display:inline;
}
a.t{
display:inline;
text-decoration:none;
}
a.th{
text-decoration:none;
margin:5px;
border:2px solid;
border-color:green;
}

a.f{
text-decoration:none;
margin:5px;
border:2px solid;
border-color:green;
background-color:orange;
}

a:hover{

color:pink;
}

a.s:link {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}


p.z::first-line{
color:red;
font-variant:small-caps;
}
p.z1::first-letter{
color:red;
font-variant:small-caps;
}

::selection{color:red;
background:yellow;}


div.hi{
background-image:url("/home/sem6b10/Downloads/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg");
}
div.hel{
background-color:white;
opacity:0.4;}


#grad1{
background-image:linear-gradient(red,yellow);}

div.a{

  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}





